<h2>Homelegance Kiosk</h2>
<p>Thank you for signing up for the Homelegance Kiosk! We're really excited to have you on board. Below is the URL to add to your kiosk, as well as your login URL and login credentials. Make sure to save this information.</p>
<p>If you have any questions feel free to look at our online FAQ at <a href="https://info.homelegance-kiosk.com">info.homelegance-kiosk.com</a> or reach me, personally, at <a href="mailto:matt@homelegance-kiosk.com">matt@homelegance-kiosk.com</a>.</p>

<p>Kiosk URL: https://homelegance-kiosk.firebaseapp.com?user=<%= @user.id %></p>
<br>
<p>Login URL: https://homelegance-kiosk.firebaseapp.com/login</p>
<p>Login: <%= @user.login %></p>
<p>Password: <%= @password %></p>

<p>Thank you! <br> The Homelegance Kiosk Team</p>
