<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using Homelegance Kiosk!</h1>
    <h2>Your product is below</h2>

    <img src="<%= @product.thumbnail %>" alt="Homelegance <%= @product.name %>">
    <h1><%= @product.name %></h1>
  </body>
</html>
